/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

header{
    background-color:#00CCFF;
    padding-bottom:10px;
}

.tasks_home{
    padding-top:10px;
}

.tasks_home_button{
    color:white;
}

.tasks_home_tab{
    margin-top:10px;
}

.tasks_home_button:hover{
    color:white;
    text-decoration:none;
}

.tasks_sub_button{
    margin-right:20px;
    margin-top:10px;
    color:white;
    
}

.tasks_sub_tab{
    margin-top:30px;
}

.tasks_sub_button:hover{
    color:white;
    text-decoration:none;
}
