
.fornts_background-image{
         background-image: url("ダウンロード (3).jpg");
         text-align:center;
         background-size:cover;
         height:600px;
         padding-top:250px;
}

.front-font{
    margin-top:50px;
    margin-bottom:50px;
    text-align:center;
}

.front-review{
    background-color:#66CCFF;
    text-align:center;
}

.front-chart{
    text-align:center;
    margin-top:40px;
}

.front-event{
    margin-top:80px;
    background-color:yellow;
    color:red;
    text-align:center;
    padding-right:20px;
    padding-left:20px;
}

